body{
  font-family: sans-serif;
}
.main-div{
  padding: 0px;
  margin: 5% 0 0 30%;
  background: #fff;
  position: relative;
}
h2{
  color: #2b07f5ec;
}
p{
  color: rgb(48, 37, 37);
  font-size: 14px;
  margin-bottom: 30px;
}
form label{
  font-weight: 459;
  font-size: 14px;
}
form input{
  background: #f3f7f3;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 15px 0;
  width: 45%;
}
form select{
  background: #f3f7f3;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 20px 0;
  width: 48%;
}
form button{
  background: #2b07f5ec;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 10px 0;
  width: 48%;
  height: 50px;
}
p a{
  text-decoration: none;
  color: #2b07f5ec;
}
